{% extends_admingenerated "TripShaperAdminBundle:PlaceEdit:index.html.twig" %}

		{% block javascript_head %}
			{{ parent() }}

            <script type="text/javascript">

            $(function() {
				$('#group_tags').tagit({
					minLength: 2,
					initialTags: $('#edit_place_group').val().split(','),
					tagSource: "{{ path('_suggestTagsByTerm') }}",
					tagsChanged: function(tagValue, action, element) {
						$('#edit_place_group').val(
							$.map($('#group_tags').tagit('tags'), function(elem) { return elem.value; })
						);
					}
				});

				$('a.add').click(function(event){
	            	 var collectionHolder = $('#edit_place_titles');
	                 var prototype = collectionHolder.attr('data-prototype');
	                 form = prototype.replace(/__name__/g, collectionHolder.children().length);
	                 collectionHolder.append(form);
	                 event.preventDefault();
	                 //initRemove();
	            });

				/*
				var initRemove = function() {
					$('a.remove').click(function(event){
						$('#edit_place_titles div.form_row').last().remove();
					    event.preventDefault();
					});
				}
				initRemove();
				*/

            });

            </script>
		{% endblock %}

        {% block form_fieldset_Titles %}
        <fieldset class="form_block form_fieldset_Titles">
			<legend>{% trans from "Admin" %}Titles{% endtrans %}</legend>
			{{ form_widget(form['titles']) }}
        </fieldset>
        {% endblock %}

         {% block form_fieldset_Geolocation %}
        <fieldset class="form_block form_fieldset_Geolocation">
			<legend>{% trans from "Admin" %}Geolocation{% endtrans %}</legend>
			{{ form_widget(form['geolocation']) }}
        </fieldset>
        {% endblock %}

        {% block form_fieldset_Tags %}
        <fieldset class="form_block form_fieldset_Tags">
			<legend>{% trans from "Admin" %}Tags{% endtrans %}</legend>

			<div class="form_row">
				<div class="form_field">
                        <label for="group_tags">Group</label>
                        {{ form_widget(form['group']) }}
                        <div>
							<ul id="group_tags"></ul>
						</div>
                </div>
			</div>

        </fieldset>
        {% endblock %}